:root {
    --DarkBlue: hsl(233, 26%, 24%);
    --LimeGreen: hsl(136, 65%, 51%);
    --RightCyan: hsl(192, 70%, 51);

    --grayblue: hsl(233, 8%, 62%);
    --gray: hsl(220, 16%, 96%);
    --lighGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

.hero {
    border: 2px solid red;
}

.button {
    border: 1px solid red;
    padding: 1em 2em;
    background-image: linear-gradient(to right,var(--LimeGreen) 0%, var(--RightCyan) 100%);
}